<%= simple_form_for(@noticia) do |f| %>
  <% if noticia.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h3><%= pluralize(noticia.errors.count, "erro") %> proibiu que esta noticia fosse salva:</h3>

      <ul>
        <% noticia.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <div class="form-inputs">
      <%= f.input :titulo, label: "Título" %>
      <%= f.input :content, as: :rich_text_area, label: 'Texto', placeholder: 'Insira seu texto aqui' %>
      <%= f.association :categoria, collection: @categorias, prompt: "Escolha uma categoria" %>
      <%= f.file_field :arquivo, class:"form-control" %>
    </div>


    <div class="form-action">
      <%= f.button :submit, class: 'btn btn-outline-success mb-3' %>
    </div>
  </div>
<% end %>
