<div id="<%= dom_id noticia %>">
  <article class="blog-post">
    <strong class="d-inline-block mb-2 text-primary h6"><%= render '/noticias/layoutsBlog/noticia_categoria', noticia: noticia %></strong>
    <h2 class="blog-post-title mb-1 border-bottom"><%= noticia.titulo %></h2>
    <p class="mb-2 text-muted"><%= render '/noticias/layoutsBlog/noticia_data', noticia: noticia %></p>
    <figure class="figure float-end mb-0">
      <%= image_tag (noticia.arquivo_url), :class => "figure-img img-fluid rounded mb-0", :width => "400" %>
    </figure>
    <section>
      <p><%= noticia.content %></p>
    </section>
    <p>
      

    </p>
      
  </article>
</div>

      