<div class="modal modal-signin position-static d-block bg-white" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <h2 class="fw-bold mb-0">Esqueceu sua senha?</h2>
        
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="">
          <div class="form-floating mb-3">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Envie-me instruções de redefinição de senha", class:"w-100 mb-2 btn btn-lg rounded-3 btn-primary" %>
              </div>
            <% end %>
          </div>
          <small class="text-muted">Solicite o envio das instruções de redefinição de senha</small>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">Ou use uma das opções abaixo</h2>
          <%= render "devise/shared/links" %>
          
        </form>
      </div>
    </div>
  </div>
</div>
