
<%= simple_form_for(@ramal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :setor %>
    <%= f.input :telefone %>
    <%= f.input :email %>
    <%= f.input :departamento %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Salvar', class: 'btn btn-outline-success mb-3' %>
  </div>
<% end %>
