<div id="<%= dom_id ramal %>">

  <table class="table mb-5">
    <thead>
      <tr class="table-primary">
        <th scope="col">Setor:</th>
        <th scope="col">Telefone:</th>
        <th scope="col">Email:</th>
        <th scope="col">Departamento:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= ramal.setor %></td>
        <td><%= ramal.telefone %></td>
        <td><%= ramal.email %></td>
        <td><%= ramal.departamento %></td>
      </tr>
    </tbody>
  </table>
    

</div>
