<div id="<%= dom_id ramal %>">



  <p>
    <strong>Setor:</strong>
    <%= ramal.setor %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= ramal.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ramal.email %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= ramal.departamento %>
  </p>

</div>
