<div class="row align-items-center mt-3">
      <div class="col-3">
        
      </div>
      <div class="col-6">
        <h1 class="text-primary">Ramais</h1>
      </div>
      <div class="col-3">
      
      </div>
  </div>
  <% if current_user && current_user.admin? %>
    <%= link_to "Novo Ramal", new_ramal_path, class:"btn btn-outline-primary" if user_signed_in? %>
  <% end %>

  <table id="table" data-toggle="table" data-search="true" data-show-columns="true" class="table">
  <thead>
    <tr class="tr-class-1">
      <th scope="col" data-field="setor" data-valign="middle"><strong>Setor</strong></th>
      <th scope="col" data-field="telefone" data-valign="middle"><strong>Número</strong></th>
      <th scope="col" data-field="email" data-valign="middle"><strong>Email</strong></th>
      <th scope="col" data-field="departamento" data-valign="middle"><strong>Departamento</strong></th>
      <th scope="col" data-field="mostrar" data-valign="middle"><strong></strong></th>
      <%  if current_user && current_user.admin? %>
        <th scope="col" data-field="editar" data-valign="middle"><strong></strong></th>
        <th scope="col" data-field="apagar" data-valign="middle"><strong></strong></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @ramais.each do |ramal| %>
      <tr>
        <th><%= ramal.setor %></th>
        <th class="col-1 text-center"><%= ramal.telefone %></th>
        <th><%= ramal.email %></th>
        <th><%= ramal.departamento %></th>
        <th><%= link_to "", ramal, class: "btn btn-primary bi bi-box-arrow-right mb-3" %></th>
        <%  if current_user && current_user.admin? %>
          <th><%= link_to "", edit_ramal_path(ramal), class:"btn btn-secondary mb-3 bi bi-pencil-square" if user_signed_in? %></th>
          <th><%= button_to "", ramal, method: :delete, class:"btn btn-danger mb-3 bi bi-trash3 mb-3" if user_signed_in? %></th>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>
  

