<p style="color: green"><%= notice %></p>

<%= render @ramal %>

<div>
  <%= link_to "Editar", edit_ramal_path(@ramal), class:"btn btn-outline-primary mb-3" if policy(@ramal).update? %>
  <%= link_to "Voltar", ramais_path, class:"btn btn-outline-success mb-3" %>
  <%= button_to "", @ramal, method: :delete, class:"btn btn-danger mb-3 bi-trash3 mb-3" if policy(@ramal).update? %>
</div>
