<%= simple_form_for(@categoria) do |f| %>
  <% if categoria.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h3><%= pluralize(categoria.errors.count, "erro") %> proibiu que esta categoria fosse criada:</h3>

      <ul>
        <% categoria.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <div class="form-inputs">
      <%= f.input :name, label: "Categoria", error:"Nome da categoria é obrigatória" %>
    </div>

    <div class="form-action">
      <%= f.button :submit, class: 'btn btn-outline-success rounded-pill' %>
    </div>
  </div>
<% end %>

