<p style="color: green"><%= notice %></p>

<main class="container mb-4">
  
  <div class="row mb-2 mt-4">
    <%= render :partial => '/jornais/layoutsJornais/principaisJornais' %>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        <%= link_to 'Novo Jornal', new_jornal_path, class: "btn btn-outline-success  rounded-pill" %>
      </h3>

      <% @jornais.each do |jornal| %>
        <%= render jornal %>
        <div class="mb-4">
          <p>
            <%= link_to "Mostrar", jornal, class:"btn btn-outline-primary rounded-pill" %>
          </p>
        </div>
      <% end %>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Anterior</a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Próximo</a>
      </nav>

    </div>
    <%= render :partial => '/jornais/layoutsJornais/sideJornais' %>
  </div>

</main>
