
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        <% if current_user && current_user.admin? %>
          <%= link_to 'Novo Jornal', new_jornal_path, class: "btn btn-outline-success  rounded-pill" %>
        <% end %>
      </h3>

      
      <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
      <% @jornais.each do |jornal| %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= jornal.titulo %></h5>
              <div class="mb-2 text-muted"><%== jornal.created_at.strftime("%d de %B de %Y") %></div>
              <p class="mb-1">
                <%= link_to "Mostrar", jornal, class:"btn btn-outline-primary rounded-pill" %>
              </p>
            </div>
          </div>
        </div>
        
      <% end %> 
      </div>
      <nav class="blog-pagination" aria-label="Pagination">
        <%= link_to_next_page @jornais, 'Anterior', class:"btn btn-outline-primary rounded-pill" %>
        <%= link_to_previous_page @jornais, 'Recente', class:"btn btn-outline-primary rounded-pill" %>
      </nav>

    </div>
    <%= render :partial => '/jornais/layoutsJornais/sideJornais' %>
  </div>

