
<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary"><%= noticia.categoria.name %></strong>
        <h3 class="mb-0"><%= noticia.titulo %></h3>
        <div class="mb-1 text-muted"><%= month_day_comma_year(noticia.created_at) %></div>
        <p class="card-text mb-auto"><%= noticia.content.to_plain_text.truncate(100) %></p>
        <%= link_to "Continue lendo ...", noticia, class:"stretched-link" %>
    </div>
    <div class="col-auto d-none d-lg-block">
        <%= image_tag noticia.arquivo_url, :class => "bd-placeholder-img", :width => "200", :height => "250" if noticia.arquivo.present?  %>
    </div>
    </div>
</div>