<script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(){
        
        window.addEventListener('scroll', function() {
            
          if (window.scrollY > 500) {
            document.getElementById('navbar_top').classList.add('fixed-top');
            // add padding top to show content behind navbar
            navbar_height = document.querySelector('.navbar').offsetHeight;
            document.body.style.paddingTop = navbar_height + 'px';
          } else {
            document.getElementById('navbar_top').classList.remove('fixed-top');
            // remove padding top from body
            document.body.style.paddingTop = '0';
          } 
        });
      }); 
      // DOMContentLoaded  end
    </script>

    <style type="text/css">
      .fixed-top {
          top: -40px;
          transform: translateY(40px);
          transition: transform .3s;
      }

    </style>
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <%= image_tag "caroussel/team-of-doctor-1.jpg", :class => "w-100" %>
        <div class="container">
          <div class="carousel-caption text-start">
          <h1>Estreia da nova intranet HEGV!</h1>
          <p class="h6">Navegação se torna mais simples com a chegada do novo sistema.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Saiba mais</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
      <%= image_tag "caroussel/team-of-doctor-2.jpg", :class => "w-100" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Facilidades</h1>
            <p class="h6">Aqui você encontrará o necessário para o seu bom desenvolvimento de trabalho.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Saiba mais</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
      <%= image_tag "caroussel/team-of-doctor-3.jpg", :class => "w-100" %>
        <div class="container">
          <div class="carousel-caption text-end">
          <h1>Novidades, Notícias e Eventos</h1>
          <p class="h6">Fique atualizado com nossos informes.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Saiba mais</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
      <%= image_tag "caroussel/team-of-doctor-4.jpg", :class => "w-100" %>
        <div class="container">
          <div class="carousel-caption text-end">
          <h1>Estreia da nova intranet HEGV!</h1>
          <p class="h6">Navegação se torna mais simples com a chegada do novo sistema.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Saiba mais</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
      <%= image_tag "caroussel/team-of-doctor-5.jpg", :class => "w-100" %>
        <div class="container">
          <div class="carousel-caption text-end">
          <h1>Estreia da nova intranet HEGV!</h1>
          <p class="h6">Navegação se torna mais simples com a chegada do novo sistema.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Saiba mais</a></p>
          .</div>
        </div>
      </div>
    </div>
    
  </div>